:root{
	--fore: #dddddd;
	--back: #252525;
}
/*tags*/
body {
	margin:5%;
	background-color: var(--back);
	font-family:Courier New;
}

h1,h2{
	color:var(--fore);
	font-family:Courier New;
	text-align:left;
	padding:none;
	margin-bottom:2;
}

/*menu stuff*/
#menu{
	float: left;
	border:none;
	clear: both;
	/* clear:both makes sure the content div doesn't float next to this one but stays under it */
	width:100%;
	padding: 10px ;
	/*background-color: #000;*/
	text-align: left;
	font-size: 85%;
}

#menu a:hover {
	background-color: var(--fore);
	color:var(--back);
}

.menuBtn{
	background-color: var(--back);
	border: 1px solid var(--fore);
	color: var(--fore);
	font-family: Courier New;
	font-size: 16px;
	padding: 3px;
	text-decoration: none;
}
/**/
#content{
	border:none;
	font-family:Courier new;
	color: var(--fore);
}

#footer {
	clear: both;
	color:var(--fore);
	font-size: 8px;
	padding: 2px 2px 0px 0px;
}

#instructions {
				width: 100%;
				height: 100%;
				
				user-select: none;
				text-shadow: 1px 1px 1px #9E9E9E;
				
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.5);

				display: -webkit-box;
				display: -moz-box;
				display: box;

				-webkit-box-orient: horizontal;
				-moz-box-orient: horizontal;
				box-orient: horizontal;

				-webkit-box-pack: center;
				-moz-box-pack: center;
				box-pack: center;

				-webkit-box-align: center;
				-moz-box-align: center;
				box-align: center;

				color: #ffffff;
				text-align: center;
				font-family: Arial;
				font-size: 14px;
				line-height: 24px;

				cursor: pointer;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.label{
	marginTop:-1em;
	margin-left = 15px;
	margin-right = 15px;
	border-radius: 10%;
	background:rgba(50,50,50,0.8);
	color:#ffffff;
